<html>
<head>
    <title>OwnPush</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>

</head>
<body style="min-height: 2000px; padding-top: 70px;">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">OwnPush</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" stlye=width=75%;">
        <p><img src="/static/images/ownpush_128.png" />
        <h1>Welcome To OwnPush</h1>
        <h2>A Secure Push System</h2></p>

        <p>
            OwnPush is a brand new push messaging system targeting not only low power use cases but also making message
            security a top priority. We make use of our own transport for the push messaging over websockets unlike
            some other push systems that offload the transport layers onto other systems like GCM
        </p>
</body>
</html>
